*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.container{
        padding: 20px;
        background-color: black;
        letter-spacing: 1px;
        display: flex;
        justify-content: space-between;
}

.container .left a,
.right a{
        color: white;
        text-decoration: none;
        font-size: x-large;
        padding: 5px;
}

.container .right a:hover{
        background-color: orangered;
        color: white;
        border-radius: 7px;
}

.container .left a:hover{
        text-decoration: underline orangered;
        
}